Data/community.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Glen Little (Sunwapta Solutions Inc.) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="Community">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Person" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="Name" type="xsd:string" use="required"/>
      <xsd:attribute name="FileTimeAtLastRead" type="xsd:string" use="optional"/>
      <xsd:attribute name="LastEnvNum" type="xsd:nonNegativeInteger" use="optional"/>
    </xsd:complexType>
    <!--
    // this does not work, as the AKAName needs to be optional, but xsd:unique does not support optional fields
    <xsd:unique name="Names_must_be_unique">
      <xsd:selector xpath="Person"/>
      <xsd:field xpath="@LName"/>
      <xsd:field xpath="@FName"/>
      <xsd:field xpath="@AKAName"/>
    </xsd:unique>
    -->
  </xsd:element>
  <xsd:element name="Person">
    <xsd:complexType>
      <xsd:attribute name="FName" type="xsd:string" use="required"/>
      <xsd:attribute name="LName" type="xsd:string" use="required"/>
      <xsd:attribute name="AKAName" type="xsd:string" use="optional"/>
      <xsd:attribute name="BahaiId" type="xsd:string" use="optional"/>
      <xsd:attribute name="EnvNum" type="xsd:string" use="optional"/>
      <xsd:attribute name="Voted" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="VotedInPerson"/>
            <xsd:enumeration value="DroppedOff"/>
            <xsd:enumeration value="Mailed"/>
            <xsd:enumeration value="No"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <!--<xsd:attribute name="IneligibleToVote" type="xsd:boolean" default="false"/>
      <xsd:attribute name="ReasonToNotVote" type="xsd:string" use="optional"></xsd:attribute>-->
      <xsd:attribute name="IneligibleToReceiveVotes" type="xsd:boolean" />
      <xsd:attribute name="ReasonToNotReceive" type="xsd:string" use="optional"></xsd:attribute>
      <xsd:attribute name="AgeGroup" use="optional" default="Adult">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="Adult"/>
            <xsd:enumeration value="Youth"/>
            <xsd:enumeration value="Pre-Youth"/>
            <xsd:enumeration value="Child"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
