Data/election.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Glen Little (Sunwapta Solutions Inc.) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="Election">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Info"/>
        <xsd:element ref="ManualResults"/>
        <xsd:element ref="AutoCounts" minOccurs="0" />
        <xsd:element ref="FinalCounts" minOccurs="0" />
        <xsd:element ref="Ballot" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="TieBreakCount" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="Name" type="xsd:string" use="required"/>
      <xsd:attribute name="FileTimeAtLastRead" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:unique name="Ballots">
      <xsd:selector xpath="./Ballot"/>
      <xsd:field xpath="@Id"/>
    </xsd:unique>
  </xsd:element>
  <xsd:element name="Info">
    <xsd:complexType>
      <xsd:attribute name="ElectionType" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="Assembly"/>
            <xsd:enumeration value="UnitConvention"/>
            <xsd:enumeration value="AssemblyBiElection"/>
            <xsd:enumeration value="AssemblyTieBreak"/>
            <xsd:enumeration value="UnitConventionTieBreak"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="DateOfElection" type="xsd:string" use="required"/>
      <xsd:attribute name="ElectoralUnit" type="xsd:string" use="optional"/>
      <xsd:attribute name="Location" type="xsd:string" use="required"/>
      <xsd:attribute name="ChiefTeller" type="xsd:string" use="required"/>
      <xsd:attribute name="OtherTellers" type="xsd:string" use="optional"/>
      <xsd:attribute name="NumberToElect" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
            <xsd:enumeration value="7"/>
            <xsd:enumeration value="8"/>
            <xsd:enumeration value="9"/>
            <xsd:enumeration value="10"/>
            <xsd:enumeration value="11"/>
            <xsd:enumeration value="12"/>
            <xsd:enumeration value="13"/>
            <xsd:enumeration value="14"/>
            <xsd:enumeration value="15"/>
            <xsd:enumeration value="16"/>
            <xsd:enumeration value="17"/>
            <xsd:enumeration value="18"/>
            <xsd:enumeration value="19"/>
            <xsd:enumeration value="20"/>
            <xsd:enumeration value="21"/>
            <xsd:enumeration value="22"/>
            <xsd:enumeration value="23"/>
            <xsd:enumeration value="24"/>
            <xsd:enumeration value="25"/>
            <xsd:enumeration value="26"/>
            <xsd:enumeration value="27"/>
            <xsd:enumeration value="28"/>
            <xsd:enumeration value="29"/>
            <xsd:enumeration value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="NumberOfAlternatesToReport" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
            <xsd:enumeration value="7"/>
            <xsd:enumeration value="8"/>
            <xsd:enumeration value="9"/>
            <xsd:enumeration value="10"/>
            <xsd:enumeration value="11"/>
            <xsd:enumeration value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <!--<xsd:attribute name="RequireFullBallot" type="xsd:boolean" default="false"/>-->
      <xsd:attribute name="UseManualCounts" type="xsd:boolean" />
      <xsd:attribute name="AllowAddNewInBallot" type="xsd:boolean" />
      <xsd:attribute name="ApprovedForReporting" type="xsd:boolean" />
      <xsd:attribute name="CommunityFileName" type="xsd:string" use="optional" />
      <xsd:attribute name="CommunityFileTime" type="xsd:string" use="optional" />
      <xsd:attribute name="CodeForThisComputer" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="TellersAtThisComputer" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ManualResults">
    <xsd:complexType>
      <xsd:attribute name="AdultsInCommunity" type="xsd:integer" use="optional"/>
      <xsd:attribute name="MailedInBallots" type="xsd:integer"/>
      <xsd:attribute name="DroppedOffBallots" type="xsd:integer"/>
      <xsd:attribute name="VotedInPerson" type="xsd:integer" />
      <xsd:attribute name="OtherTellers" type="xsd:string" use="optional">
        <!--Here for backward compatibility. Use the attribute in Info.-->
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Ballot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Vote" maxOccurs="30"/>
      </xsd:sequence>
      <xsd:attribute name="Id" type="xsd:string" use="required"/>
      <xsd:attribute name="OverrideStatus">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="Normal"/>
            <xsd:enumeration value="TooMany"/>
            <xsd:enumeration value="ReviewNeeded"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="BallotStatus">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="Ok"/>
            <xsd:enumeration value="New"/>
            <xsd:enumeration value="DupName"/>
            <xsd:enumeration value="ReviewNeeded"/>
            <xsd:enumeration value="TooFew"/>
            <xsd:enumeration value="TooMany"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Vote">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Person" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="VoteStatus">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="New"/>
            <xsd:enumeration value="Ok"/>
            <xsd:enumeration value="Spoiled"/>
            <xsd:enumeration value="AddToList"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="SpoiledGroup" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="Ineligible"/>
            <xsd:enumeration value="Unidentifiable"/>
            <xsd:enumeration value="Unreadable"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="SpoiledDetail" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Person" type="PersonType">
  </xsd:element>
  <xsd:complexType name="PersonType">
    <xsd:attribute name="FName" type="xsd:string" use="required"/>
    <xsd:attribute name="LName" type="xsd:string" use="required"/>
    <xsd:attribute name="AKAName" type="xsd:string" use="optional"/>
    <xsd:attribute name="BahaiId" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:element name="AutoCounts">
    <xsd:complexType>
      <xsd:attribute name="AdultsInCommunity" type="xsd:integer" />
      <xsd:attribute name="VotedInPerson" type="xsd:integer" />
      <xsd:attribute name="MailedInBallots" type="xsd:integer" />
      <xsd:attribute name="DroppedOffBallots" type="xsd:integer" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinalCounts">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="PersonCount" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="AdultsInCommunity" type="xsd:integer" use="optional"/>
      <xsd:attribute name="SummarySource" use="optional">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="Manual"/>
            <xsd:enumeration value="Auto"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="VotedInPerson" type="xsd:integer" use="optional"/>
      <xsd:attribute name="MailedInBallots" type="xsd:integer" use="optional"/>
      <xsd:attribute name="DroppedOffBallots" type="xsd:integer" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PersonCount">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="PersonType">
          <xsd:attribute name="Count" type="xsd:integer"/>
          <xsd:attribute name="Position" type="xsd:nonNegativeInteger"/>
          <xsd:attribute name="Section" type="xsd:string" use="optional"/>
          <xsd:attribute name="Close" type="xsd:string" use="optional"/>
          <xsd:attribute name="Tie" type="xsd:string" use="optional"/>
          <xsd:attribute name="ExtraPosition" type="xsd:nonNegativeInteger" use="optional"/>
          <xsd:attribute name="TieBreakGroup" type="xsd:nonNegativeInteger" use="optional"/>
          <xsd:attribute name="TieCount" type="xsd:nonNegativeInteger" use="optional"/>
          <xsd:attribute name="TieBreakResolved" type="xsd:boolean" use="optional"/>
          <xsd:attribute name="ForceShowOther" type="xsd:string" use="optional"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TieBreakCount">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="PersonType">
          <xsd:attribute name="Count" type="xsd:integer"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
